@import "~react-image-gallery/styles/css/image-gallery.css";

.active {
  color: black !important;
  background: yellowgreen !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  text-decoration: none !important;

}

.pointer {
  cursor: pointer;
}
.hoverable:hover {
  transform: scale(1.01);
  box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.react-photo-gallery--gallery img {
  object-fit: cover;
  height: 500px !important;
}
square{
  border-radius: 0px;
  margin-right: 5px;
}

